.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Estilização na tela de despesas */
.table-wallet {
  border: 1px solid #061533;
  margin: 0 auto;
  border-collapse: collapse; /* Une as bordas adjacentes das células */
  background-color: #061533;
}

.div-element {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.div-element button {
  height: 50px;
  border: none;
  border-radius: 5em;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 40px;
}

.div-element input, select{
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5em;
  margin-bottom: 20px;
}

td, th {
  border: 5px solid #2E7D32; 
  padding: 10px; 
}


/* Estilização da tela de login */
.form-login {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
  }
  
  .form-login input {
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5em;
    margin-bottom: 20px;
  }
  
  .form-login button {
    height: 50px;
    border: none;
    border-radius: 5em;
    font-size: 20px;
    font-family: sans-serif;
}

button:enabled {
  border: #2E7D32;
  background-color: #8BC34A;
  color: white;
  cursor:pointer;
}
